# Example environment variables for Digidrivelog backend
# Adjust these values as needed

# Application configuration
PORT=8080
# current options: dev, prod
SPRING_PROFILES_ACTIVE=dev
ALLOWED_ORIGIN=http://localhost:4200

# Database configuration
POSTGRES_USER=digidrivelog
POSTGRES_PASSWORD=digidrivelog
POSTGRES_DB=digidrivelog
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
