# Example environment variables for Digidrivelog backend
# Adjust these values as needed

# Application configuration
PORT=8080
# current options: dev, prod
SPRING_PROFILES_ACTIVE=dev
ALLOWED_ORIGIN=http://localhost:4200

# Database configuration
POSTGRES_USER=DB_USERNAME
POSTGRES_PASSWORD=DB_PASSWORD
POSTGRES_DB=digitaldrivelog
POSTGRES_HOST=DB_HOST
POSTGRES_PORT=5433
DATABASE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
