<section class="start-page">
  <h2>{{ 'start.title' | translate }}</h2>
  <p>{{ 'start.description' | translate }}</p>
  <div class="start-page__actions">
    <a class="start-page__button" routerLink="/overview">{{ 'start.actions.entryOverview' | translate }}</a>
    <a class="start-page__button" routerLink="/cars/select">{{ 'start.actions.chooseCar' | translate }}</a>
    <a class="start-page__button" routerLink="/manage/users">{{ 'start.actions.manageUsers' | translate }}</a>
    <a class="start-page__button" routerLink="/manage/cars">{{ 'start.actions.manageCars' | translate }}</a>
  </div>
</section>
